.multi-media-list{
    display: inline-flex;
}

#container {
    text-align: left;
    display :block

}

#poster-container {
    margin-left: auto;
    margin-right: 500px;
}

.posters{
    margin-top: auto;
    margin-bottom: auto;
}

#info-container{
    display:block;
    margin-left: 520px;
}