#container {
    text-align: center;
    display: block;
    margin-top: 50px;
    margin-bottom : 20%;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
}

#poster-container {
    margin-left: auto;
    margin-right : 400px;
}

.posters{
    width: 150px;
    border: solid black 2px;
    margin: 0.3em;
    border-radius: 0.5em;
    /* float:left; */
}

#info-container{
    display:block;
    margin-left: 520px;
}

#horus{
    width: 100px;
    height: 100px;
    
}


#site-header{
    display: inline-block;
    width: 100%;
}

body{
    background-image: url(https://t3.ftcdn.net/jpg/04/44/80/68/360_F_444806827_qItmWKBVDs3aHFlATYMuWZZZCx0VVxUH.jpg);
}

.text {
    color:rgb(169, 151, 46);
    font-family:  'Press Start 2P', cursive;
}

label{
    font-size: 0.8em;
}

#rating{
    font-size: small;
}

#overview{
    font-size: 0.5em;
    margin-bottom: 30px;
}

.imgDiv #watchlist-button{
    position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.imgDiv #completed-button{
    position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.imgDiv .button:hover{
    background-color: black;
}

#info-container img {
    width: 100%;
    height: auto;
}

.imgDiv{
    position: relative;
    width: 50%;
}